.btn {
  align-items: center;
  background-color: var(--c-purple);
  border: 1px solid transparent;
  border-radius: 20px;
  color: var(--c-white);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  transition: scale 100ms linear;
  min-inline-size: 100px;

  & + & {
    margin-inline-start: 8px;
  }

  &:not(:disabled):hover {
    scale: 1.05;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--secondary {
    background-color: var(--c-white);
    border: 1px solid var(--c-purple);
    color: var(--c-purple);

    &:disabled {
      background-color: var(--c-gray-300);
    }
  }

  & span {
    font-size: 14px;
    line-height: 100%;
  }

  & svg ~ span {
    margin-inline-start: 4px;
  }
}
