.video-editor {
  background-color: var(--c-white);
  border: var(--b-base);
  border-radius: var(--br-base);

  &__player {
    border: none;
    border-radius: inherit;
    object-fit: cover;
  }

  &__editor {
    padding: 12px;
  }
}