.video-editor {
  background-color: var(--c-white);
  border: var(--b-base);
  border-radius: var(--br-base);

  &__preview-title {
    margin-block: 10px 0;
    text-align: center;
  }

  &__player {
    border: none;
    border-radius: inherit;
    object-fit: cover;
  }

  &__editor {
    display: flex;
    flex-direction: column;
  }

  &__timing-section {
    border-bottom: var(--b-base);
    display: flex;
    justify-content: space-between;
    padding-inline: 12px;
    padding-block: 8px;
  }

  &__timing {
    align-items: center;
    display: flex;

    & .btn + .toggle {
      margin-inline-start: 12px;
    }
  }

  &__properties-section {
    background-color: var(--c-gray);
    border-bottom: var(--b-base);
    display: flex;
    font-size: 14px;
    padding: 12px;
  }

  &__properties {
    display: flex;
  }

  &__properties-label {
    color: var(--c-gray-700);

    & + .video-editor__property-option {
      margin-inline-start: 12px;
    }
  }

  &__property-option {
    column-gap: 4px;
    display: flex;

    & + & {
      margin-inline-start: 12px;
    }

    & label,
    & input {
      cursor: pointer;
    }
  }

  &__form-field {
    align-items: center;
    column-gap: 4px;
    display: flex;

    &:first-of-type {
      margin-inline-start: 12px;
    }

    .toggle__wrapper + & {
      margin-inline-start: 12px;
    }
  }

  &__form-label {
    color: var(--c-gray-700);
  }

  &__form-input {
    background-color: var(--c-gray);
    border: none;
    border-radius: var(--br-base);
    color: var(--c-black);
    font-size: var(--fs-base);
    inline-size: 50px;
    outline: 2px solid var(--c-gray-300);
    padding: 8px;
    text-align: center;

    &:disabled {
      color: var(--c-gray-700);
      cursor: not-allowed;
    }
  }

  &__time-separator {
    color: var(--c-gray-700);
    margin-inline: 12px;
  }

  &__status-wrapper {
    display: flex;
    padding: 12px;
  }

  &__status {
    margin: 12px;
  }
}