.video-editor {
  background-color: var(--c-white);
  border: var(--b-base);
  border-radius: var(--br-base);
  height: 500px;

  &__player {
    border: none;
    border-radius: inherit;
    object-fit: cover;
  }
}